body{
 background:#111;
 color:white;
 text-align:center;
 font-family:sans-serif;
}

button{
 padding:12px;
 margin:5px;
 background:#222;
 border:none;
 color:white;
 cursor:pointer;
}

button:active{
 transform:scale(0.9);
}
