body{
 background: linear-gradient(#0a0a0a,#1a1a1a);
 color:white;
 text-align:center;
 font-family:sans-serif;
}

button{
 padding:12px;
 margin:5px;
 border:none;
 border-radius:8px;
 background:#222;
 color:white;
 cursor:pointer;
}

button:hover{
 background:#444;
}

button:active{
 transform:scale(0.9);
}

#score{
 font-size:28px;
 font-weight:bold;
}
